{% extends "base.html" %} {% block title %}Sign Up{% endblock %} 

<!----- main content block start ----->

{% block content %}

<!----- sign-up form ----->
<section >
  <div class="container-fluid col-11 col-sm-6 px-4 rounded" style=" margin-top: 7rem;">
    <form method="POST">
      <h3 class="mt-2 mb-4 ">Sign Up</h3>
      <div class="form-group mb-3 mt-2">
        <label for="email" class="text-muted" >Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="kentclark@gmail.com"
        />
      </div>
      <div class="form-group mb-3">
        <label for="firstName" class="text-muted">User name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="kentclark0229"
        />
      </div>
      <div class="form-group mb-3">
        <label for="password1" class="text-muted">Password</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Password"
        />
      </div>
      <div class="form-group mb-3" >
        <label for="password2" class="text-muted">Password (Confirm)</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Confirm password"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
    </div>
    
</section>
{% endblock %}
